# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.so

# Django
db.sqlite3
.env
*.log
/media/
/staticfiles/

# Virtualenv
venv/
.venv/
env/

# IDEs and tools
.vscode/
.idea/
.DS_Store

# Others
*.egg-info/
pip-wheel-metadata/
