# Core dependencies
Django==5.0.2
python-dotenv==1.0.1
Pillow==10.2.0

# Development & Testing
black==24.3.0
flake8==7.0.0
pytest==8.0.2
pytest-django==4.8.0

# Optional (if you plan to use REST API later)
djangorestframework==3.15.1
